.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

textarea {
  min-height: 100px;
  overflow-y: auto;
}

.border-line {
  border-style: dotted;
}

.red-border {
  border-style: solid;
  border-color: red;
}

.green-border {
  border-style: solid;
  border-color: green;
}

